transformers==4.32.0
accelerate
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
torchvision
pillow
fastapi
uvicorn
pydantic
sse_starlette
google-cloud-storage
peft
sqlalchemy
pysqlite3
deepspeed
matplotlib